.card{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, @primary-grey-dark 0%, @primary-grey-light 100%);
    margin-bottom:5pt;
    color:@primary-clear;
    .day,.temp{
        font-size:@large;
    }


} 
