.card{
    .card-header{
        background:@primary-dark-blue;
        color: @primary-clear;
        transition:color ease-in-out .2s;
    }
    a:active,a:hover{
        .card-header{
            color: @primary-accent;
        }
    }
} 
